[defaults]
inventory= /mnt/c/Users/urpul/Desktop/CloudCompSem2/Automation/Pulkit-N01421308/automation/terraform/assignment02/hosts
roles_path = /mnt/c/Users/urpul/Desktop/CloudCompSem2/Automation/Pulkit-N01421308/automation/terraform/assignment02/roles
host_key_checking = False
deprecation_warnings = False

[privilege_escalation]
become=True
become_method= sudo
become_user=root
become_ask_pass=False1~
